/result
/source
dist-newstyle
/.cache/vale/*
!/.cache/vale/config/
/.cache/vale/config/*
!/.cache/vale/config/vocabularies/
/.cache/vale/config/vocabularies/*
!/.cache/vale/config/vocabularies/ann-plugin-opt-env-conf/
!/.cache/vale/Vocab/
/.cache/vale/Vocab/*
!/.cache/vale/Vocab/ann-plugin-opt-env-conf/
/.local/state/project-manager/
/.local/state/nix/profiles/
/.cache/direnv/
